body {
    background-color: black;
    text-align: center;
}

h1 {
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 42px;
    color: white;
}

a {
    color: aquamarine;
    text-align: center;
    font-size: 16px;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    color: gray;
}

footer {
    text-align: right;
    color: gray;
    font-size: 16px;
}

.phone {
    margin-top: 14px;
}